

body {
	max-width:430px;	
	margin:0 auto;
	color:white;
    word-break: break-all ;
    word-wrap: break-word ; /* Перенос слов */
	font-size:medium;
	font-family:arial,verdana,tahoma,sans-serif;
	background-color:black;}
	

.life_bar{
    max-width:100%;
    border:#c90 solid 1px;
    margin:5px auto
}
.life_bar-green{
    background-color:#393;
}
.life_bar-red{
    background-color:red;
}
.life_bar-black{
    background-color:#000
}
.life_bar,.life_bar-black,.life_bar-green,.life_bar-red{
    height:3px;padding:0
}
.exp_bar{
    margin-bottom:2px;
    border-top:#202020 solid 1px;
    background-color:#707070;
    padding:0
}
.exp_bar .progress{
    background-color:#6c6;
    width:0;
    padding-top:1px;
    padding-bottom:1px
}
.exp_bar .progress_life{
    background-color:red;
    width:0;
    padding-top:2px;
    padding-bottom:2px
}
.camp_log{
    float: left;

}

.container{
    color: #BEBEBE;
    text-shadow: 1px 1px 1px black;
    background-color: #0b1a22;
}

.wrapper {
    display: block;
    line-height: 1.2;
    padding: 5px;
    padding-top: 3px;
    //border: 1px solid #222222;
    border-top: 1px solid #4E4E4E;
    border-bottom: 1px solid #000000;
    background-color: #122a37;
}

.footer{
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 1.4;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

.title{
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #ccc;
    font-weight:bold;
}

.menu{
    padding: 6px 4px 8px 5px;
    display:block;
    color: #CCCCCC;
    margin-top: 1px;
    text-decoration:none;
    border: 1px solid #222222;
    border-top: 1px solid #4E4E4E;
    border-bottom: 1px solid #000000;
    text-shadow: 1px 1px 1px black;
    background-color:#122a37;
}
.menu:hover {
    padding: 6px 4px 8px 5px;
    display:block;
    color: #CCCCCC;
    margin-top: 1px;
    text-decoration:none;
    border: 1px solid #222222;
    border-top: 1px solid #4E4E4E;
    border-bottom: 1px solid #000000;
    text-shadow: 1px 1px 1px black;
    background-color:#0b1a22;
}
.menu._closed{color: #8C8C8C;}

.user-list {
    padding: 0;
    width: 100%;
    border-left: none;
    border-right: none;
}

.t {
    display: table;
    /* table-layout: fixed; */
    border-collapse: collapse;
    padding: 0;
}

.t .item {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.t > p {
    float: none;
    display: table-cell;
    position: relative;
    padding-left: 5px;
    vertical-align:top;
    padding-top: 2px;
}

.item {
    position: relative;
    width: 50px;
    height: 50px;
}

.item._duel {
    background: url("/img/duel.png");
    background-size: cover;
    background-position: 50% 50%;
}

.item._shop_items  {
    background-image: url("/img/icon_items_big.png");
}

/* Colors */
.red {color:red; }
.error {color:/*#DD6666*/ #FF2C2F;}
.white {color:white; }
.ccc {color:#ccc;}
.yellow {color:#FFDF8C;}
.yellow1 {color:#feca04;}
.yellow2 {color: #dcdc47;}
.lngreen {color: lawnGreen !important;}
.green { color: #BFFF86; }
.orange { color: #ff8000; }
.chocolate {color: chocolate;}
.ok { color: #03FF0A; }

.c_user { color:white;  }
.c_moderator { color:#90ee90 !important; }
.c_gm { color:#00d0ff;  }
.c_admin { color:#00d0ff !important;  }

.c_silver{color:#a3b7c1 !important;}
.c_gold{color:#fee727 !important;}
.c_bronze{color:#feca04 !important;}
.c_energy{color:#16b8d7 !important;}
.c_blue{color:#457187 !important;}

.c_quality1 {color:#ceb591}
.c_quality2 {color:#15de78}
.c_quality3 {color:#6090ff}
.c_quality4 {color:#da63ff}	
.c_quality5 {color:#15e3ef}
.c_quality6 {color:#ea5d5c}

.ramka.c_quality1 {border:1px solid #ceb591;border-radius:3px}
.ramka.c_quality2 {border:1px solid #15de78;border-radius:3px}
.ramka.c_quality3 {border:1px solid #6090ff;border-radius:3px}
.ramka.c_quality4 {border:1px solid #da63ff;border-radius:3px}
.ramka.c_quality5 {border:1px solid #15e3ef;border-radius:3px}
.ramka.c_quality6 {border:1px solid #ea5d5c;border-radius:3px}

.ramka {border:1px solid #090909;border-radius:3px}
.va_t{vertical-align:top;}
.va_c{vertical-align:center;}
.va_b{vertical-align:bottom;}
.va_m{vertical-align:middle;}
.bold{font-weight:bold;}
.small{font-size:12px;}
.medium{font-size:medium;}
.left { text-align:left; }
.cntr { text-align:center; }
.right { text-align:right; }
.mlra { margin: 0 auto; }
.fl { float:left; }
.fr { float:right; }
.bl{display:block;}
.bli  { display:block !important;}
.prel{position:relative;}
.inbl{display:inline-block;//display:inline;//zoom:1;}
.unline{text-decoration: underline;}
.noline{text-decoration: none;}
h1 {font-size: 18px;}
ul li {padding: 4px 0;}
ol, ul {list-style: none;}

.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs15 {font-size: 15px;}
.fs16 {font-size: 16px;}
.fs17 {font-size: 17px;}

.pgn{
	padding:5px 0;
	font-size:0;
	text-align:center;}
.pag,a.pag{
	padding:4px 8px;
	margin:1px;
	border:1px solid #2b4755;
	font-size:small;
	color:#9fbec8;
	text-decoration:none;
}
a.pag:hover,span.pag{color:#dadada;border-color:#a3b7c1;}

.input_text {
    border:1px solid #0b0b0b;
    padding:4px;
    color:white;
    background-color: #457187;
    color:#d1d1d1;
    border-radius:1px;
    font-size:15px;
}

/* Margin */
.mlr8{margin-left:8px;margin-right:8px;}
.mlr20{margin-left:20px;margin-right:20px;}
.mlr30{margin-left:30px;margin-right:30px;}
.mlr50{margin-left:50px;margin-right:50px;}
	
.m2 { margin:2px; }
.m3 { margin:3px; }
.m5 { margin:5px; }
.m10{ margin:10px; }

.mt1 { margin-top:1px; }
.mt2 { margin-top:2px; }
.mt3 { margin-top:3px; }
.mt5 { margin-top:5px; }
.mt7 { margin-top:7px; }
.mt8 { margin-top:8px; }
.mt10{ margin-top:10px; }
.mt12{ margin-top:12px; }
.mt15{ margin-top:15px; }
.mt20{ margin-top:20px; }
.mt-5{margin-top:-5px;}
.mt-9{margin-top:-9px;}

.mb2 { margin-bottom:2px; }
.mb3 { margin-bottom:3px; }
.mb5 { margin-bottom:5px; }
.mb10{ margin-bottom:10px; }
.mb12{ margin-bottom:12px; }
.mb20{ margin-bottom:20px; }

.ml2 { margin-left:2px; }
.ml3 { margin-left:3px; }
.ml5 { margin-left:5px; }
.ml10{ margin-left:10px; }
.ml-5 { margin-left:-5px; }

.mr2 { margin-right:2px; }
.mr3 { margin-right:3px; }
.mr5 { margin-right:5px; }
.mr-5 { margin-right:-5px; }
.mr10{ margin-right:10px; }

/* Padding */
.p2 { padding:2px; }
.p3 { padding:3px; }
.p5 { padding:5px; }
.p10{ padding:10px; }

.pt2 { padding-top:2px; }
.pt3 { padding-top:3px; }
.pt5 { padding-top:5px; }
.pt10{ padding-top:10px; }
.pt12{ padding-top:16px; }
.pt15 {padding-top: 15px;}

.pb2 { padding-bottom:2px; }
.pb3 { padding-bottom:3px; }
.pb5 { padding-bottom:5px; }
.pb10{ padding-bottom:10px; }

.pl2 { padding-left:2px; }
.pl3 { padding-left:3px; }
.pl5 { padding-left:5px; }
.pl10{ padding-left:10px; }

.pr2 { padding-right:2px; }
.pr3 { padding-right:3px; }
.pr5 { padding-right:5px; }
.pr10{ padding-right:10px; }
.plr10{padding-left:10px;padding-right:10px;}

/* Width */
.w10 { width:10%; }
.w15 { width:15%; }
.w20 { width:20%; }
.w23 { width:23%; }
.w24 { width:24%; }
.w30 { width:30%; }
.w32 { width:32%; }
.w35 { width:35%; }
.w40 { width:40%; }
.w45 { width:45%; }
.w48 { width:48%; }
.w49 { width:49%; }
.w50 { width:50%; }
.w60 { width:60%; }
.w70 { width:70%; }
.w80 { width:80%; }
.w85 { width:85%; }
.w90 { width:90%; }
.w95 { width:95%; }
.w96 { width:96%; }
.w97 { width:97%; }
.w100 { width:100%; }
.w49i {
    width: 49%;
    display: inline-block;
}

.row{display: table-row;}
.cell{display: table-cell;}
.line_m{ height:3px; background-image:url(/style/img/line_m.jpg); }

.row.t-title {
    font-size: 12px;
}

.t.user-list .cell {
    padding: 3px 5px;
}
.t.user-list .cell.user {
    width: 100%;
    text-align: left;
}
.t.user-list .cell.num, .t.user-list .cell.score {
    text-align: center;
    vertical-align: middle;
}
.cell {
    display: table-cell;
}

.row.odd {
    background-color: #0b1a22;
}

/* common button */
.cbtn,.cbtn .cb_end,.cbtn .cb_ttl{display:block;font-size:0;background-image:url('img/bg-cbtn2.png');background-repeat:no-repeat;}
.cbtn{display:inline-block;//display:inline;//zoom:1;text-decoration:none !important;vertical-align:top;}
.cbtn .cb_end{padding:0 8px;}
.cbtn .cb_ttl{height:23px;padding:7px 5px 0;white-space:nowrap;;overflow:hidden;font-size:small;text-align:center;background-repeat:repeat-x;}
.cbtn .cb_ttl.left {text-align:left;}
.cbtn input.cb_ttl{height:30px;width:100%;padding:0px 5px 2px;cursor:pointer;border-radius:0px;border:0px;background-color:transparent;}
.cbtn.blue{background-position:0 0;}
.cbtn.blue .cb_end{background-position:100% -30px;}
.cbtn.blue .cb_ttl{color:#6cdeff;background-position:0 -60px;}
.cbtn.dblue{background-position:0 -540px;}
.cbtn.dblue .cb_end{background-position:100% -570px;}
.cbtn.dblue .cb_ttl{color:#4dbad9;background-position:0 -600px;}
.cbtn.red{background-position:0 -90px;}
.cbtn.red .cb_end{background-position:100% -120px;}
.cbtn.red .cb_ttl{color:#ffbda6;background-position:0 -150px;}
.cbtn.gold{background-position:0 -180px;}
.cbtn.gold .cb_end{background-position:100% -210px;}
.cbtn.gold .cb_ttl{color:#fffaa6;background-position:0 -240px;}
.cbtn.green{background-position:0 -270px;}
.cbtn.green .cb_end{background-position:100% -300px;}
.cbtn.green .cb_ttl{color:#d4ff82;background-position:0 -330px;}
.cbtn.brown{background-position:0 -360px;}
.cbtn.brown .cb_end{background-position:100% -390px;}
.cbtn.brown .cb_ttl{color:#ffedcb;background-position:0 -420px;}
.cbtn.gray{background-position:0 -450px;}
.cbtn.gray .cb_end{background-position:100% -480px;}
.cbtn.gray .cb_ttl{color:#858585;background-position:0 -510px;}
.cbtn.disable{background-position:0 -450px !important;}
.cbtn.disable .cb_end{background-position:100% -480px !important;}
.cbtn.disable .cb_ttl{color:#858585;background-position:0 -510px !important;}
.cbtn.orange{background-position:0 -630px !important;}
.cbtn.orange .cb_end{background-position:100% -660px !important;}
.cbtn.orange .cb_ttl{color:#ffdb8f;background-position:0 -690px !important;}
.cbtn.dgreen{background-position:0 -720px !important;}
.cbtn.dgreen .cb_end{background-position:100% -750px !important;}
.cbtn.dgreen .cb_ttl{color:#8bd771;background-position:0 -780px !important;}

.nav{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 75px;
}
.nav a{
    display: table-cell;
    padding-bottom: 4px;
    vertical-align: bottom;
    border: 1px solid #0b1a22;
    border-top: 1px solid #4E4E4E;
    border-bottom: 1px solid #000000;
    text-align: center;
    font-size: 13px;
    color: #BEBEBE;
    background-color: #122a37;
}
.nav a.home,
.nav a.profile,
.nav a.clan,
.nav a.gold{
    background-position: 50% 4px;
    background-repeat: no-repeat;
}
.nav a.home{background-image: url("/img/index.png")}
.nav a.profile{background-image: url("/img/profile.png")}
.nav a.clan{background-image: url("/img/clan.png")}
.nav a.gold{background-image: url("/img/gold.png")}

.nav-bar{
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
}

.progress-bar,.progress{
    min-height: 7px;
}
.progress-bar,.progress.h6{
    min-height: 6px;
}

.progress-bar{
    border: 1px solid #000000;
    background: #494949 url("/style/img/bg_prg-bar.jpg") repeat-x;
}
.progress{max-width: 100%;}
.progress.green{background: #059114 url("/style/img/bg_prg-green.jpg") repeat-x;}
.progress.red{background: #059114 url("/style/img/bg_prg-red.jpg") repeat-x;}
.progress.blue{background: #059114 url("/style/img/bg_prg-blue.jpg") repeat-x;}

.header{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    font-size: 14.5px;
}

.maneken {
    position: relative;
    height: 166px;
    padding: 0 5px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    
}
.race1 {background: url('/img/bg_maneken_1.png') no-repeat center 0;}
.race2 {background: url('/img/bg_maneken_2.png') no-repeat center 0;}

.bg_profile {
    background-image: url('/img/bg_profile.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    height: 246px;
}

.bg_arena {
    background-image: url('/img/bg_arena2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    height: 200px;
}

.bg_arena_ava {
    background-repeat: no-repeat;
    background-position: 46% 100%;
    background-size: 160px;
    margin-left: 13px;
    height: 190px;
}

.bg_arena_ava.female {
    background-position: 46% 100%;
    background-size: 160px;
    height: 190px;
}

.bg_profile_ava {
    background-repeat: no-repeat;
    background-position: 46% 100%;
    background-size: 212px;
    height: 246px;
}

.bg_profile_ava.female {
    background-position: 40% 100%;
    background-size: 217px;
}

.tptrn {
    /* font-size: 0; */
    background-image: url('img/pattern-1-left.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.ib {
    display: inline-block;
}

.tptrn .p_end {
    padding: 2px 30px;
    background-image: url('img/pattern-1-right.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.bbtn {
    height: 32px;
    margin-bottom: 2px;
    background-color: #183543;
    background-image: url(img/bg-bbtn.png);
    background-repeat: repeat-x;
}

.bbtn .lbl {
    display: block;
    height: 24px;
    padding: 8px 8px 0 6px;
    line-height: 16px !important;
    color: white;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    background-position: 4px 0;
    background-repeat: no-repeat;
    text-decoration: none !important;
}

.round {
    border-radius: 120px; /* Ð Ð°Ð´Ð¸ÑƒÑ ÑÐºÑ€ÑƒÐ³Ð»ÐµÐ½Ð¸Ñ */
    box-shadow: 0 0 0 1px black, 0 0 13px #333; /* ÐŸÐ°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ñ‹ Ñ‚ÐµÐ½ÐµÐ¹ */
}

.title_img._ratings {
    height: 69px;
    background: url(/img/img_ratings.jpg);
}
.title_img._training {
    height: 69px;
    background: url(/img/img_training.jpg);
}
.title_img._quests {
    height: 69px;
    background: url(/img/img_quests.jpg);
}

.title_img._logo {
    height: 200px;
    background: url(/img/bg_main_2.jpg);
}

.title_img._payment {
    height: 113px;
    background: url(/img/bg-big-bank.jpg);
}

.title_img._traver {
    height: 120px;
    background: url(/img/bg_travel.jpg);
}

.title_img._smith {
    height: 130px;
    background: url(/img/bg_smith.jpg);
}

.title_img._win {
    height: 120px;
    background: url(img/bg-big-win.png);
}

.title_img._lose {
    height: 115px;
    background: url(img/bg-big-lose.png);
}

.title_img._shop {
    height: 69px;
    background: url(/img/img_shop.png);
}

.title_img {
    background-repeat: no-repeat;
    background-position: center top;
}

.ribbon, .ribbon .r_end, .ribbon .r_cntr {
    display: block;
    font-size: 0;
    background-image: url('img/bg-ribbon.png');
    background-repeat: no-repeat;
}

.ribbon.red, .ribbon.red .r_end, .ribbon.red .r_cntr {
    background-image: url('img/bg-ribbon-red.png');
}

.ribbon.green, .ribbon.green .r_end, .ribbon.green .r_cntr {
    background-image: url('img/bg-ribbon-green.png');
}

.ribbon.green1, .ribbon.green1 .r_end, .ribbon.green1 .r_cntr {
    background-image: url('img/bg-ribbon-green1.png');
}

.ribbon.gold, .ribbon.gold .r_end, .ribbon.gold .r_cntr {
    background-image: url('img/bg-ribbon-gold.png');
}

.ribbon.blue, .ribbon.blue .r_end, .ribbon.blue .r_cntr {
    background-image: url('img/bg-ribbon-blue.png');
}

.ribbon .r_end {
    padding: 0 28px;
    background-position: 100% -31px;
}

.ribbon .r_cntr {
    height: 27px;
    padding-top: 4px;
    font-size: small;
    text-shadow: 1px 1px 0 black;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background-position: 0 -62px;
    background-repeat: repeat-x;
}

.ibi {
    display: inline-block !important;
}
.ttu {
    text-transform: uppercase;
}

.sqr_img {
    display: inline-block;
    text-decoration: none !important;
    font-size: 0;
        height: 136px;
        width: 156px;

    vertical-align: top;
    background-position: 4px 14px;
    background-repeat: no-repeat;
}

.sqr_img .si_frame {
    display: block;
    width: 136px;
    height: 153px;
    background-image: url('img/bg-square.png');
    background-repeat: no-repeat;
    background-position: 0 4px;
}

.sqr_img .si_info {
    display: block;
    height: 20px;
    padding-top: 80px;
    margin: 0 5px;
    color: white;
    text-align: center;
    font-size: small;
}

.sqr_img .si_shd {
    display: block;
    background-image: url('img/bg-square-shadow.png');
    background-repeat: repeat-x;
    background-position: 0 100%;
}

.sqr_img .prg {
    margin: 4px 15px 0;
}

.plus {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(/img/icons/icon_plus.png) no-repeat;
}

.hr_3s {
    background-position: 0 1px;
}
.hr2, .hr2 .hr_end {
    background-image: url('img/bg-hr2.png');
    background-repeat: no-repeat;
}
.hr_3s .hr_end {
    background-position: 100% -32px;
}
.hr2 .hr_end {
    margin-left: 10px;
    padding-right: 10px;
}

.hr_3s .hr_mid {
    height: 8px;
    font-size: 0;
    background-image: url('img/bg-hr2-3.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.bg_shd {
    background-image: url('img/bg-big-shadow.png');
    background-repeat: repeat-x;
    background-position: 0 100%;
}



.m_plr {
    margin: -4px -4px 0 0;
}

.fight.ava {
    display: block;
    position: relative;
    font-size: 0;
    padding: 3px 0px 0px 3px;
}

.plr_info {
        display: block;

    
    color: white;
    text-align: left;
    background-image: url('img/bg-lpanel.png');
    background-repeat: repeat-x;
}


.shb {
    text-shadow: 1px 1px 0 black;
}

.backlight {
    padding-bottom: 7px;
    background-image: url('/img/bg_backlight.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.complect_arrow_left {
    background: url('img/arrow_left.png') 50% 50% no-repeat;
    left: 0;
}


.complect_arrow_right {
    background: url('img/arrow_right.png') 50% 50% no-repeat;
    right: 0;
}

.complect_arrow_left, .complect_arrow_right {
    position: absolute;
    display: block;
    text-decoration: none;
    top: 0;
    width: 48px;
    height: 100%;
}

.g-arrow {
    position: absolute;
    top: -10px;
    left: 5px;
}